<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>471370874295-v8s5l52ce7lrunltopcrijelpljj4gav.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.471370874295-v8s5l52ce7lrunltopcrijelpljj4gav</string>
	<key>API_KEY</key>
	<string>AIzaSyCaLxTTP-rbzhtgQDKdtpMS1957mIS7Bd8</string>
	<key>GCM_SENDER_ID</key>
	<string>471370874295</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.leahdgarber.ultihype</string>
	<key>PROJECT_ID</key>
	<string>ultihype</string>
	<key>STORAGE_BUCKET</key>
	<string>ultihype.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:471370874295:ios:f2b478c37b4817e6</string>
	<key>DATABASE_URL</key>
	<string>https://ultihype.firebaseio.com</string>
</dict>
</plist>